version: '3.1'

services:

  bitly:
    build: 
      context: .
      target: development
    hostname: bitly
    environment:
      - REDIS_CONNECTION_STRING=redis://redis:6379
      - MONGO_CONNECTION_STRING=mongodb://root:example@mongo:27017
      - GRPC_PORT=6060
      - HTTP_PORT=7070
    ports:
      - 6060:6060
      - 7070:7070
    depends_on:
      - mongo
      - redis

  grpc-client:
    image: fullstorydev/grpcui:v1.3.0
    ports:
      - 8080:8080
    command: -plaintext bitly:6060
    depends_on:
      - bitly

  mongo:
    image: mongo:4.4.14
    hostname: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - 27017:27017

  redis:
    image: redis:6.2.7-alpine
    hostname: redis
    ports:
      - 6379:6379