name: Go

on:
  push:
    branches: [ main ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Set up protoc
      uses: arduino/setup-protoc@v1
      with:
        version: '3.19.4'

    - name: Download all dependencies
      run: go mod download

    - name: Generate mocks
      run: |
          make generate-repository-mock
          make generate-key-generator-mock
    
    - name: Generate grpc server
      run: make generate-grpc-server

    - name: Generate grpc server documentation
      run: make generate-grpc-server-documentation

    - name: Build
      run: make build

    - name: Unit Tests
      run: make run-unit-tests
    
    - name: Integration Tests
      run: make run-integration-tests

    - name: Acceptance Tests
      run: make run-acceptance-tests

    - uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: coverage.html

    - uses: actions/upload-artifact@v3
      with:
        name: documentation
        path: docs/index.html