name: Go

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Set up mockgen
      run: go install github.com/golang/mock/mockgen@v1.6.0

    - name: Set up protoc
      run: |
        sudo apt-get install -y protobuf-compiler
        protoc --version

    - name: Generate
      run: go generate ./...

    - name: Build
      run: go build -v ./cmd/main.go

    - name: Unit Test
      run: |
        go test ./internal/... -coverpkg=./internal/... -coverprofile coverage.out -v 
        go tool cover -html coverage.out -o coverage.html
    
    - name: Integration Test
      env:
        INTEGRATION_REDIS_CONNECTION_STRING: redis://localhost:6379
      run: |
        docker-compose -f test/integration/docker-compose.yml up -d
        sleep 5
        go test ./test/integration/integration_test.go -v
        docker-compose -f test/integration/docker-compose.yml down

    - name: Acceptance Test
      env:
        ACCEPTANCE_REDIS_CONNECTION_STRING: redis://localhost:6379
      run: |
        docker-compose -f test/acceptance/docker-compose.yml up -d
        sleep 5
        go test ./test/acceptance/go_acceptance_test.go -v
        docker-compose -f test/acceptance/docker-compose.yml down

    - uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: coverage.html