name: Go

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Set up mockgen
      run: go install github.com/golang/mock/mockgen@v1.6.0

    - name: Set up protobuf and grpc
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28
        go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2

    - name: Set up protoc
      uses: arduino/setup-protoc@v1
      with:
        version: '3.19.4'

    - name: Generate
      run: go generate ./...

    - name: Build
      run: go build -v ./cmd/main.go

    - name: Unit Test
      run: |
        CVPKG=$(go list ./internal/... | grep -v pb | tr '\n' ',') 
        go test ./internal/... -coverpkg=$CVPKG -coverprofile coverage.out -v 
        go tool cover -html coverage.out -o coverage.html
    
    - name: Integration Test
      env:
        INTEGRATION_REDIS_CONNECTION_STRING: redis://localhost:6379
      run: |
        docker-compose -f test/integration/docker-compose.yml up -d
        sleep 5
        go test ./test/integration/integration_test.go -v
        docker-compose -f test/integration/docker-compose.yml down

    - name: Acceptance Test
      env:
        ACCEPTANCE_REDIS_CONNECTION_STRING: redis://localhost:6379
      run: |
        docker-compose -f test/acceptance/docker-compose.yml up -d
        sleep 5
        go test ./test/acceptance/go_acceptance_test.go -v
        docker-compose -f test/acceptance/docker-compose.yml down

    - uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: coverage.html