name: Go

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Set up mockgen
      run: go install github.com/golang/mock/mockgen@v1.6.0

    - name: Generate
      run: go generate ./...

    - name: Build
      run: go build -v ./cmd/main.go

    - name: Test
      run: |
        go test ./... -coverpkg=./internal/... -coverprofile coverage.out
        go tool cover -html coverage.out -o coverage.html

    - uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: coverage.html